* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    background-color: rgb(87,189,130);
    transition: background 0.5s ease;
    position: relative ;
}

.field-name,
.field-email,
.field-finish,
.field-password {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    height: 50px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.field-name i,
.field-email i,
.field-finish i,
.field-password i {
    padding: 10px;
    cursor: pointer; /* cursor - specifies the mouse cursor to be displayed when pointing over these elements*/
}

.field-name input,
.field-email input,
.field-password input {
    background: none;
    border: none;
    flex: 1; /*flex - sets the flexible length on flexible items e.g. flex: 1; - lets all flexible items be the same length, regardless of its content */
    height: 100%;
    outline: none;
}

div.inactive {
    opacity: 0;
    pointer-events: none;/*pointer-events- defines whether or not the element should react to pointer events*/
    transform: translate(-50%, 50%); /*transform - applies a 2D or 3D transformation to an element. This property allows you to rotate, scale, move, skew, etc., elements.
                                      https://css-tricks.com/almanac/properties/t/transform/ */
}
div.active {
    opacity: 1;
    pointer-events: all;
    transform: translate(-50%, -50%);
}

@keyframes shake {/*@keyframes - specifies the animation code.
                  The animation is created by gradually changing from one set of CSS styles to another.
                  During the animation, you can change the set of CSS styles many times.
                  Specify when the style change will happen in percent, or with the keywords "from" and "to", which is the same as 0% and 100%. 0% is the beginning of the animation, 100% is when the animation is complete.
                  */
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        transform: translate(-50%, -50%) rotate(10deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}